.l-card{
    width: 300px;
    height: 500px;
    background-color: grey;
    border-radius: 10px;
    border-style:solid ;
    border-width: 10px;
    border-color: orange;
    overflow: hidden;
    box-shadow: orange;
}

.l-card-img{
    border-color: cyan;
    border-style: solid;
    border-radius: 5px;
    max-width: 290px;
    height: 150px;
}