<div class="col-sm-10 col-md-8 col-lg-6 mx-auto l-container">
    <div class="card">
        <div class="mx-auto mt-2 l-logo">
            <img src="https://cdn.onlinewebfonts.com/svg/img_415067.png" class="img-fluid" />
        </div>

        <div class="card-body">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Login"><ng-container *ngTemplateOutlet="Login"></ng-container></mat-tab>
                <mat-tab label="Register"><ng-container *ngTemplateOutlet="Register"></ng-container></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<!-- #region Templates-->
<!-- #region Login template -->
<ng-template #Login>
    <ng-container *ngTemplateOutlet="ProvidersLogin"></ng-container>
    <form [formGroup]="loginForm">
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto ">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
        </div>
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
        </div>

        <div class="row no-gutters">
            <button
                mat-raised-button
                class="col-10 mx-auto btn-success"
                [disabled]="loginForm.invalid"
                (click)="handleLogin()"
            >
                Login
            </button>
        </div>
    </form>
</ng-template>
<!-- #endregion -->

<!-- #region Register template  -->
<ng-template #Register>
    <form [formGroup]="signUpForm">
        <ng-container *ngTemplateOutlet="ProvidersLogin"></ng-container>

        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto ">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" />
            </mat-form-field>
        </div>
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto">
                <mat-label>Surname</mat-label>
                <input matInput type="text" formControlName="surname" />
            </mat-form-field>
        </div>
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto ">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="emailRegister" />
            </mat-form-field>
        </div>
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passwordRegister" />
            </mat-form-field>
        </div>
        <div class="row no-gutters">
            <mat-form-field appearance="outline" class="col-10 mx-auto">
                <mat-label>Verify password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" />
            </mat-form-field>
        </div>

        <div class="row no-gutters">
            <button
                mat-raised-button
                class="col-10 mx-auto btn-success"
                [disabled]="signUpForm.invalid"
                (click)="handleRegister()"
            >
                Register
            </button>
        </div>
    </form>
</ng-template>

<!-- #endregion -->

<!-- #region Providers Login Template -->
<ng-template #ProvidersLogin>
    <div class="row no-gutters">
        <button mat-stroked-button class="col-10 mx-auto m-4" (click)="handleGoogleLogin()">
            <span class="l-sign-in-icon-span mr-3">
                <img src="../../../assets/icons/google.svg" alt="Google logo" height="18px" />
            </span>
            Sign In With Google
        </button>
    </div>
    <!-- <div class="row no-gutters">
        <button mat-stroked-button class="col-10 mx-auto" (click)="handleFacebookLogin()">
            <span class="l-sign-in-icon-span mr-3">
                <img src="../../../assets/icons/facebook.svg" alt="Facebook logo" height="18px" />
            </span>
            Sign In With Facebook
        </button>
    </div> -->
    <div class="row no-gutters mt-4">
        <p class="m-auto">OR</p>
    </div>
</ng-template>
<!-- #endregion -->
<!-- #endregion -->
