.l-container {
    max-width: 800px;
    margin-top: 100px;
}

.l-logo {
    height: 50;
    width: 100px;
}

::ng-deep.mat-tab-label:first-of-type {
    border-right: 1px solid #ccc;
}

.l-sign-in-icon-span {
    height: 18px;
    width: 18px;
}

.mat-tab-label.last-tab-class {
    border-right: none;
}
