<app-main-nav>
    <div content class="l-content">
        <div class="center-align" (click)="handleLogout()" *ngIf="this.user$ | async as user">
            <a class="btn waves-effect red lighten-3 white-text darken-text-2">Logout</a>
        </div>
        <p>dashboard works!</p>
        <router-outlet></router-outlet>
    </div>
</app-main-nav>


