<div class="mx-auto d-flex g-bg-colour flex-column">
    <div class="mx-auto my-5 g-header">Select your decks</div>
    <div class="d-flex flex-row">
        <div class="mx-auto my-5" *ngFor="let deck of decks; let i = index">
            <button (click)="handleDeckSelect(deck.uid)"  >
                <mat-card>
                    <div>{{ deck.name }}</div>
                    <img
                        class="l-deck-img"
                        src="{{ deck.imageurl }}"
                        alt="http://openweathermap.org/img/wn/01d@2x.png"
                    />
                </mat-card>
            </button>
        </div>
    </div>
    <button (click)="handleConfirmSelection()" mat-raised-button class="g-confirm-btn mx-auto">
        Confirm selection
    </button>
</div>
