// #region Colors
$primary: #fec302;
$secondary: #000000;
$tertiary: #2e2d31;
$danger: #ff5251;

$app-bg-grey: #f8f8f8;
// #endregion

// #region Box Shadows
@mixin box-shadow-sm {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07) !important;
}
@mixin box-shadow-md {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
}
// #endregion

// #region Sizes
$navbar-height: 56px;
// #endregion
