<div class="l-container" [class.l-mobile-container]="obNavState.isMobile">
    <!-- <mat-toolbar color="primary" class="l-toolbar">
        <button mat-icon-button (click)="navMenu.toggle()">
            <mat-icon svgIcon="menu"><img src="../../../assets/icons/menu.svg" alt="" /></mat-icon>
        </button>
        <h1 class="l-page-title">Responsive App</h1>
    </mat-toolbar> -->

    <mat-toolbar color="primary" class="l-toolbar">
        <button mat-icon-button (click)="navMenu.toggle()">
            <mat-icon><img src="../../../assets/icons/menu.svg" alt="" class="l-icon-img" /></mat-icon>
        </button>
        <h1 class="l-page-title">Logo Goes Here</h1>

        <div
            *ngIf="authService.user$ | async as obUser"
            class="g-icon-hover l-user-icon ml-auto text-center"
            [matMenuTriggerFor]="userMenu"
        >
            <!-- {{ authService.user$. }}{{authService.user$}} -->
            {{ obUser.name[0] }} {{ obUser.surname[0] }}

            <mat-menu class="g-menu" #userMenu="matMenu">
                <div>
                    <div class="row no-gutters">{{ obUser.name }} {{ obUser.surname }}</div>
                    <div class="row no-gutters">
                        {{ obUser.email }}
                    </div>
                    <div class="row no-gutters mt-4">
                        <button class="g-red-btn-bord" (click)="handleLogout()">Logout</button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </mat-toolbar>



    <mat-sidenav-container class="l-side-nav-container" [style.marginTop.px]="obNavState.isMobile ? 56 : 0">
        <mat-sidenav
            #navMenu
            [mode]="obNavState.isMobile ? 'over' : 'side'"
            [fixedInViewport]="obNavState.isMobile"
            fixedTopGap="56"
            class="l-side-nav"
        >
            <mat-nav-list>
                <a mat-list-item> Dashboard </a>
                <a mat-list-item> Tasks </a>
                <a mat-list-item> Wallet </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <ng-content content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
