.l-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.l-mobile-container .l-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.l-page-title {
    margin-left: 8px;
}

.l-user-icon {
    border-radius: 50%;
    background-color: grey;
    padding: 7px 5px 7px 5px ;
    // border: 1px solid black;
    font-size: 18px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
// #endregion

.l-user-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 400px;
    height: 400px;

    border: 1px solid black;
}

// #region sideMenu
.l-side-nav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.l-side-nav {
    width: 250px;
}

.l-mobile-container .l-side-nav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
